body {
    background-color: #03045E;
}

section{
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
}

.title{
    place-items: start;
    align-content: start;
}

ion-icon {
    color: #CAF0F8
}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 45px;
    color: #CAF0F8;
}

h2 {
    font-family: "Roboto", sans-serif;
    color: #CAF0F8;
}
h3 {
    font-family: "Roboto", sans-serif;
    color: #CAF0F8;
}

p {
    font-family: "Rubik", sans-serif;
    color: #CAF0F8;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}